/* Date:
 * File Name: 
 * Student ID:
 * Student Name:
 */
 .cover{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/ba.jpg);
  background-size: cover;
  background-position-y: center;
  overflow: hidden;
 }
 .wrapper{
  margin: auto;
  margin-top: 5em;
  padding: 0 1em;
  max-width: 70em
}

.statement{
  line-height: 2;
  text-align: justify;
}

.skill-display{
  margin-top: 2em;
}

.profile-img{
  width: 100%;
  border-radius: .5em;
  margin-bottom: 2.5em;
}

.skill-wrapper{
  margin-top: 3.5em;
}

.badge{
  padding: 0.5em 1em;
  margin-right: .5em;
  margin-top: 0.5em;
  width: 7em;
}